<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sisuploaddownload2</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>bookhelper.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bookhelper.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>bookhelper.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>bookhelper.controller.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadDbServlet</display-name>
    <servlet-name>ImageUploadDbServlet</servlet-name>
    <servlet-class>bookhelper.controller.ImageUploadDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadDbServlet</servlet-name>
    <url-pattern>/ImageUploadDbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllBookServlet</display-name>
    <servlet-name>ShowAllBookServlet</servlet-name>
    <servlet-class>bookhelper.controller.ShowAllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllBookServlet</servlet-name>
    <url-pattern>/ShowAllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageRetriveServlet</display-name>
    <servlet-name>ImageRetriveServlet</servlet-name>
    <servlet-class>bookhelper.controller.ImageRetriveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageRetriveServlet</servlet-name>
    <url-pattern>/ImageRetriveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePriceServlet</display-name>
    <servlet-name>UpdatePriceServlet</servlet-name>
    <servlet-class>bookhelper.controller.UpdatePriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePriceServlet</servlet-name>
    <url-pattern>/UpdatePriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateImageServlet</display-name>
    <servlet-name>UpdateImageServlet</servlet-name>
    <servlet-class>bookhelper.controller.UpdateImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateImageServlet</servlet-name>
    <url-pattern>/UpdateImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>bookhelper.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>bookhelper.controller.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailVerificationServlet</display-name>
    <servlet-name>EmailVerificationServlet</servlet-name>
    <servlet-class>bookhelper.controller.EmailVerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerificationServlet</servlet-name>
    <url-pattern>/EmailVerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonateBookServlet</display-name>
    <servlet-name>DonateBookServlet</servlet-name>
    <servlet-class>bookhelper.controller.DonateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateBookServlet</servlet-name>
    <url-pattern>/DonateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreeBookServlet</display-name>
    <servlet-name>FreeBookServlet</servlet-name>
    <servlet-class>bookhelper.controller.FreeBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeBookServlet</servlet-name>
    <url-pattern>/FreeBookServlet</url-pattern>
  </servlet-mapping>
</web-app>